.app {
  padding-left: 4em;
}

.button {
  padding: 0.5em 1em;
}

.pt-1 {
  padding-top: 0.5em;
}
.pb-1 {
  padding-bottom: 0.5em;
}
.p-1 {
  padding: 0.5em;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

h1 {
  &.small {
    padding-left: 4em;
    font-size: inherit;
  }
}

.student-actions {
  padding-left: 2em;
}

.student-lists-container {
  .student-list-table + .student-list-table {
    margin-left: 2em;
  }
}


input[type="text"] {
  font-size: 1.25em;
  width: 100%;
}

.some-block {
  box-sizing: content-box;
  padding: 40px;
  margin: 10px auto;
  width: 80%;
}


.b-1 {
  background-color: #ccc;
  &:hover {
    background-color: #cde;
  }
}

.b-2 {
  background-color: #aaa;
  &:hover {
    background-color: #abc;
  }
}

.b-3 {
  background-color: #888;
  &:hover {
    background-color: #89a;
  }
}

.b-4 {
  background-color: #444;
  &:hover {
    background-color: #456;
  }
}
