@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

body {
  background-color: #f0f2f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.asterisk {
  &:after {
    content: " *";
    color: $red
  }
}
